[submodule "components/bsec"]
	path = components/bsec
	url = https://github.com/BoschSensortec/BSEC-Arduino-library
[submodule "components/pcd8544"]
	path = components/pcd8544
	url = https://github.com/dzurikmiroslav/esp32-pcd8544
